a{
    background-color: #ffecd1;
        margin: 0 auto;
    height: 10vh;
    width: 40vw;
    border: 5px solid #15616d;
    border-radius: 100px;
    color: #fff;
    padding: 20px;
    border-style: double;
  }
  a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #78290f;
  }

  body {
    background-color: #ffecd1;
    padding: 20px;
  }

  h1 {
    padding: 20px;
  }