video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    }
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
  a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    text-align: center;
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 6;
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: right;
    border-right: 1px solid green
}
li a {
    display: block;
    color:#fff;
    text-align: center;
    padding: 6px 150px;
    text-decoration: none;
}

li a:hover{
    background-color:green
}

.active{
    background-color: green
}
.topnav{
    background-color:#98bf7f;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: rgb(173, 245, 131);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #3e6725;
    color:#fff
}

.topnav a.active{
    background-color: #3e6725;
    color: white;
}

footer {
    text-align: center;
}

footer a {
    display: inline;
    margin-right: 0px;
    width: 50px;
    padding: 2px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #912;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #912;
    padding-left: 5px;
    margin-right: 2px;
}
footer a:hover {
    color: #FFF;
    background-color: #912;
}
footer a:hover strong {
    color: #912;
    background-color: #DDD;
}  






body {
    margin: 0;
    padding: 0;

    background-image: url('ramenbowl.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0 bottom -60px;
    text-align: center;
}

#assign {
    background-image: url('htmlbackground.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0 bottom 10px;
}

#about {
    background-image: url('classesback.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0 bottom 60px;
}

h1 {
    text-align: center;
    padding: 200px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin';
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px #333;
    opacity: 0; 
    animation: fadeIn 1s ease forwards;
    text-align: center;

}

h2 {
    color: white;
    text-align: center;
    margin-top: -250px;
    font-size: 20px;
    font-family: 'Thasadith';
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px #333;
    opacity: 0; 
    animation: fadeIn 1s ease forwards;
}

nav {
    background-color: #f2f2f2;
    padding: 30px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Thasadith';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Thasadith';
    letter-spacing: 2px;
}


.square-button {
    display: inline-block;
    width: 230px;
    height: 100px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
    text-decoration: none;

}

.button1 {
    position: absolute;
    top: 800px;
    right: 25%;
    transform: translateX(25%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;


}

.button2 {
    position: absolute;
    top: 800px;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;


}

.button3 {
    position: absolute;
    top: 800px;
    right: 75%;
    transform: translateX(75%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;


}

.button4 {
    position: absolute;
    top: 1000px;
    right: 34%;
    transform: translateX(20%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;


}

.button5 {
    position: absolute;
    top: 1000px;
    right: 58%;
    transform: translateX(40%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;

    
}

.button6 {
    position: absolute;
    top: 1000px;
    right: 25%;
    transform: translateX(25%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;

    
}

.button7 {
    position: absolute;
    top: 1000px;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;

    
}

.button8 {
    position: absolute;
    top: 1000px;
    right: 75%;
    transform: translateX(75%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;

    
}

.button9 {
    position: absolute;
    top: 1200px;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Thasadith';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;

    
}
#title {
    position: absolute;
    top: 240px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin';
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px #333;


    border: 2px solid #ffffff;
    padding: 40px;
    width: 900px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
