video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    }
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
button {
    background-color: #3e6725;
    display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    height: 5vh;
    border: .5px solid rgb(57, 220, 20);
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    box-shadow: 0 0 30px 0 rgb(73, 220, 20),
                0 0 30px 0 rgb(20, 220, 23),
                0 0 10px 0 rgb(40, 220, 20) inset;
  }