video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    video{
        width: 100%;
        height: auto;
    }
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}
a{
    background-color: #3e6725;
    display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    height: 3vh;
    width: 10vw;
    border: 1px solid rgb(57, 220, 20);
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 30px 0 rgb(73, 220, 20),
                0 0 30px 0 rgb(20, 220, 23),
                0 0 10px 0 rgb(40, 220, 20) inset;
  }
  a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    text-align: center;
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 6;
    overflow: hidden;
    background-color: green
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: right;
    border-right: 1px solid green
}
li a {
    display: block;
    color:#fff
    text-align: center;
    padding: 6px 150px;
    text-decoration: none;
}

li a:hover{
    background-color:green
}

.active{
    background-color: green
}
.topnav{
    background-color:#98bf7f
    overflow: hidden;
}

.topnav a{
    float: left;
    color: rgb(173, 245, 131);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #3e6725;
    color:#fff
}

.topnav a.active{
    background-color: #3e6725;
    color: white;
}